.our-programs .animal__item {
  border: 1px solid black;
}

.work-five__item h3 {
  font-size: 22px;
}

.work-five__item p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-single__left-item p {
  text-transform: none !important ;
}
.involve-two__item {
  text-transform: none !important ;
}

.help-area__item .accordion .accordion-item h2 button {
  font-size: 17px !important;
}
.vision-mission .work-five__item p {
  -webkit-line-clamp: 10;
}

.help-area__item .accordion .accordion-item h2 button {
  font-size: 17px;
}
.vision-mission .work-five__item h3 {
  font-size: 22px;
  text-align: center;
}
.vision-mission .work-five__item p {
  text-align: justify;
}
.abt-img img {
  width: 100%;
  height: auto;
}


.service-inner__content h3 {
  font-size: 22px;
  min-height: 70px;
}
.footer__copyright p {
  text-align: center !important;
}
.footer__copyright {
  padding: 4px !important;
}

/* Gallery Page */
.gallery .img-popup {
  position: relative;
}
.gallery .img-popup .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;    
  text-align: center;
  transition: var(--transition);
  opacity: 0;
}
.gallery .img-popup::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: var(--transition);
  opacity: 0;
}
.gallery .img-popup:hover .text,
.gallery .img-popup:hover::after {
  opacity: 1;
}
.gallery .image-container a img {
  min-height: 270px;
  object-fit: fill;
  display: block;
}

/* testimonials */
.testimonial__item-content p {
  font-size: 16px !important;
  line-height: 25px;
}

/* Blogs Details Page */
.blog-details{
  display: flex;
  justify-content: center;
}
.blog-read-more{
  padding-top: 5%;
  font-size:16px;
}
.blog-image{
  border-radius: 8px;
}
.blog-two__item .blog-two__info {
  bottom: -35px;
  left: 15px;
  padding: 15px 25px;
}
.blog-two__item .blog-two__info h4 {
  padding-bottom: 5px;
}
.blog-page-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-two .donation__item h3 {
  margin: 8px 0;
}
.blog-two__item-arrow {
  margin-top: 5%;
}

/* Blogs Details Pages */
.blog-slingle .item {
  padding: 0px!important;
}
.blog-slingle .blog-details .blog-title{
  font-size: 34px;
}
.blog-slingle .recent-post {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.blog-slingle .recent-post .con {
  padding-left: 2.5%;
}
.blog-slingle .recent-post .con1 {
  text-align: end;
  padding-right: 2.5%;
}
@media only screen and (max-width: 767px) {
  .blog-slingle .recent-post .con1 {
    text-align: start;
  }
}
/* news and events  */
.news-events-details{
  display: flex;
  justify-content: center;
}
.news-events-details .img1 img{
  border-radius: 8px;
}



